
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard | ComeAlong</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <script src="https://use.fontawesome.com/05373198f3.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">


    <!-- select2 -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
    <link rel="stylesheet" href="https://select2.github.io/select2-bootstrap-theme/css/select2-bootstrap.css">
    <link rel="stylesheet" href="https://select2.github.io/select2-bootstrap-theme/css/gh-pages.css">
    <link href="stylesheets/dashboard.css" rel="stylesheet">

    <!-- timepicker -->

    <link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>



  </head>


  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
    <div class="container-fluid">
      <div class="row">


        <!-- Navbar -->
        <div class="col-sm-3 col-md-2 ">
          <nav class="navbar navbar-default navbar-fixed-side">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">ComeAlong</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="dashboard.html"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> EVENTS <span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="new_event.html"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> NEW EVENT</a></li>
                <li><a href="contacts.html"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> CONTACTS</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> DATABASE</a></li>
               <li><a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> SETTINGS</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> LOGOUT</a></li>
              </ul>
            </div>
          </nav>
        </div>
        <!-- End of Navbar -->


        <!-- START OF PAGE CONTENT -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          <h1 class="page-header">New Event</h1>

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">


            <div class="form" id="event_form">
              <div class="form-group">
                <label for="multiple" class="control-label">Search and Add Contacts</label>
                <select id="multiple" class="form-control select2-multiple" multiple>
                  <!-- <option value="TNOGZ" disabled="disabled">The No Optgroup Zone</option> -->
                  <option value="TPZ">Audrey Ong</option>
                  <option value="TTZ">Angela Upreti</option>
                  <option value="TTZ">Bernie Sanders</option>
                  <option value="TTZ">Donald Trump</option>
                  <option value="TTZ">Hilary Clinton</option>
                  <optgroup label="Pacific Time Zone">
                    <option value="CA">California</option>
                    <option value="NV">Nevada</option>
                    <option value="OR">Oregon</option>
                    <option value="WA">Washington</option>
                  </optgroup>
                </select>
              </div>

              <div class="form-group">
                <label for="inputTitle">Event Title</label>
                <input class="form-control" id="inputTitle">
              </div>

              <div class="form-group">
                <label for="inputTitle">Event Location</label>
                <input class="form-control" id="inputLocation">
              </div>


              <div class="form-group">
                <label class="control-label">Date and Time</label>
                  <div class='input-group date' id='datetimepicker1' >
                      <input type='text' class="form-control">
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>
              </div>

              <div class="form-group">
                <label for="multiple" class="control-label">Poll Options</label>
                <select id="multiple" class="form-control select2-multiple-user-input" multiple>
                </select>
              </div>

              <div class="form-group">
                <label for="inputTitle">Event Description</label>
                <input class="form-control" rows="4" id="event_desc">
              </div>


              <br>

              <center>
              <button type="submit" class="btn btn-default">Send</button>
              <button type="button" class="js-programmatic-multi-clear btn btn-default">
                Clear All
              </button>

              </center>

            </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.1/anchor.min.js"></script>

    <script>

      // Set the "bootstrap" theme as the default theme for all Select2
      // widgets.
      //
      // @see https://github.com/select2/select2/issues/2927
      //$.fn.select2.defaults.set( "theme", "bootstrap" );

      var placeholder = "";


      var $contacts = $( ".select2-single, .select2-multiple" ).select2( {
        theme: "bootstrap",
        placeholder: "Search by name, username, or email",
        width: null,
        containerCssClass: ':all:',
      } );


      var $userInput = $( ".select2-multiple-user-input" ).select2( {
        width: null,
        containerCssClass: ':all:',
        placeholder: "Type option and press enter",
        theme: "bootstrap",
        tags: true,
        formatNoMatches: function() {
            return '';
        },
        dropdownCssClass: 'select2-hidden',
        createTag: function (params) {
          return {
            id: params.term,
            text: params.term,
            newOption: true
          }
        }
      });


      // clear all inputs to form
      $(".js-programmatic-multi-clear").on("click", function () { 
        $contacts.val(null).trigger("change"); 
        $userInput.val(null).trigger("change"); 
        $(".form-control").val('');
      });
      






      // copy Bootstrap validation states to Select2 dropdown
      //
      // add .has-waring, .has-error, .has-succes to the Select2 dropdown
      // (was #select2-drop in Select2 v3.x, in Select2 v4 can be selected via
      // body > .select2-container) if _any_ of the opened Select2's parents
      // has one of these forementioned classes (YUCK! ;-))

      $( ".select2-single, .select2-multiple, .select2-allow-clear, .js-data-example-ajax" ).on( "select2:open", function() {
        if ( $( this ).parents( "[class*='has-']" ).length ) {
          var classNames = $( this ).parents( "[class*='has-']" )[ 0 ].className.split( /\s+/ );

          for ( var i = 0; i < classNames.length; ++i ) {
            if ( classNames[ i ].match( "has-" ) ) {
              $( "body > .select2-container" ).addClass( classNames[ i ] );
            }
          }
        }
      });
    </script>

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
    </script>


  </body>
</html>
